body {
    background-color: #ebebeb;
}

.header-logo {
    width: 150px;
}

a.nav-link {
    text-transform: uppercase;
}

i.fa,
i.fas,
i.far,
i.fab {
    margin-right: 5px;
}

section.content {
    margin-top: 25px;
}

.btn-round {
    border-radius: 25px;
}

.btn-fullw {
    width: 100%;
}

.btn-facebook-login {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff;
    text-transform: uppercase;
}

.btn-googlep-login {
    background-color: #d34836;
    border-color: #d34836;
    color: #fff;
    text-transform: uppercase;
}

.btn-googlep-login:hover,
.btn-facebook-login:hover {
    color: #fff;
}

.clearc {
    margin: 25px 0 0 0;
}

.usr-nav > div > ul > li > a {
    font-size: 12px;
}

.card-img-overlay-bottom {
    top: auto;
}

.card-clear-bg {
    background-color: #343a4000 !important;
}

.shadow-custom {
    padding: 0 !important;
    background-color: #fff0 !important;
}

.container {
    margin-top: 15px;
}

h3.watchlist, .latest-watching-notification, show-search {
    margin-bottom: 25px;
}

.btns-fav {
    width: 35px;
}

.btns-fav > i {
    margin-right: 0px;
}

.progress-show {
    margin-top: 7px;
}

.xs-quick-check-check {
    padding-left: 0px !important;;
}

.icon {
    padding-top: 10px;
}

.fright {
    float: right;
}

.card-v-align, .quick-view-icons {
    margin-top: auto;
    margin-bottom: auto;
}

div.watching_list_list > div.row {
    margin-bottom: 25px;
}

.btn-block > a.btn {
    margin-left: 5px;
}

/*** HOVER THING *****/
.hover-conatiner {
    position: relative;
}

.hover-img {
    transition: .5s ease;
    backface-visibility: hidden;
}

.hover-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.hover-conatiner:hover .hover-img {

}

.contentor:hover .hover-middle {
    opacity: 1;
}

/***** *****/

/* .show-title, .show-categories, .show-categories {
	
} */

.show-genres {
    margin-bottom: 25px;
}

.img-fav {
    color: #e83e8c;
}

.img-fav:hover {
    color: #5f1b3a;
}

.btn-icon > i {
    margin-right: 0px !important;
}

.btn-icon-fav > i {
    color: #e83e8c;
}

.show-basics {
    margin-top: 25px;
}

.show-basics > div > p {
    margin-bottom: 5px;
}

.show-seasons, .show-show {
    margin-top: 25px;
}

.btn-group-card {
    margin-left: 15px;
}

p.episode-rating {
    font-size: 12px;
    margin-bottom: 0px;
}

.form-check {
    padding-left: 0px;
}

.btn-showhide {
    margin-right: 4px;
}

.hide_el {
    display: none !important;
}

.img-thumbnail {
    border: 0px;
}

.show-search > div {
    margin-bottom: 25px;
}

.show-search-btns {
    position: absolute;
    bottom: 0;
}

div.page-load {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
}

.genres-list li {
    display: inline;
}

.genres-list li:before {
    content: '\00a0\2022\00a0\00a0';
    color: #999;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.genres-list {
    padding-left: 0px !important;
}

a > h1, h2, h3, h4, h5, h6 {
    color: #343a40;
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

.card-season-shows {
    border: 0px;
}

img.episodes-list {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0px !important;
    font-size: 15px !important;
}

.card-img-overlay.cfade {
    margin: 100% 0px 0px 0px;
    background-image: linear-gradient(to bottom, #ff000000, #000000db);
}

.card-img-overlay.cfade > a > h5 {
    color: #fff;
}

svg {
    width: 100%;
}

.disable-href {
    pointer-events: none;
    cursor: default;
    opacity: .5;
}

.current-season, .current-season > h5 {
    background-color: #007bff;
    color: white;
}

.btn-seasons-update {
    margin-top: 15px;
}

i.wobble-success:before {
    font-size: 45px !important;
    color: green;
}

i.wobble-success-2x:before {
    font-size: 75px !important;
    color: green;
}

i.wobble-error:before {
    font-size: 45px !important;
    color: red;
}

i.wobble-error-2x:before {
    font-size: 65px !important;
    color: red;
}

i.wobble-info:before {
    font-size: 75px !important;
    color: cornflowerblue;
}

.xs-quick-check-bar {
    padding-right: 15px;
}

.watchlist-cards {
    margin-bottom: 25px;
}

span.tooltip-indent {
    margin-left: 35px;
}

.btn-favorite:hover .ifav:before {
    content: "\f004";
    opacity: 0.4;
}

/*#watchlist-item {*/
/*font-size: 11px !important;*/
/*}*/

.dropdown-toggle-custom {
    color: #fff;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-top: 0px;
    padding-top: 5px;
}

.dropdown-toggle-custom:after {
    margin-left: 1px;
    margin-right: 5px;
}

.card-img-fix {
    min-height: 400px;
    object-fit: cover;
}

.card-height {
    min-height: 370px;
}

.icon-favorites:before {
    font-size: 50px;
}

.card-favorite {
    margin-top: 30px;
    z-index: 999;
}

.footer {
    padding: 100px;
    background-color: #343a40 !important;
    color: #fff;
}

.footer > .container a {
    color: #fff;
}

.ui-mprogress > .indeter-bar {
    z-index: 1459;
}

.footer-logo {
    width: 200px;
}

.custom-search {
    margin-bottom: 25px;
}

.ad-space {
    background-color: lightgrey;
    padding: 10px;
    margin: 25px 0px 25px 0px;
}

span.smk-error-msg {
    background: #ff9800 -webkit-gradient(linear, left top, left bottom, from(#ffa726), to(#ff9800)) repeat-x;
    background: #ff9800 linear-gradient(180deg, #ffa726, #ff9800) repeat-x;
    padding: 5px 10px 5px 10px !important;
    color: #fff !important;
    font-weight: 700 !important;
    border-radius: 5px !important;
    margin-top: 5px !important;
    display: inline-block !important;
    position: unset !important;
    margin-right: 5px;
}

@media only screen and (max-width: 768px) {
    .footer-logo {
        width: 100%;
    }
}


.watchlist-btns > i {
    margin-right: 0px;
}

.btns-row {
    margin-bottom: 5px;
}

.iziToast-message > p {
    margin-bottom: 0px;
}

.parallax {
    /* Set a specific height */
    height: 100px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.41);
}

.parallax-content {
    padding-top: 50px;
}

.title-inverse, .text-inverse, .genres-inverse, .title-inverse > a > small > .fa-external-link-alt {
    color: #fff;
}

.content-inverse > h1, .content-inverse > h2, .content-inverse > h3, .content-inverse > h4, .content-inverse > h5, .content-inverse > h6, .content-inverse > p {
    color: #fff;
}

.home-section-1 {
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.75);
    padding-bottom: 25px;
}

.home-section-featured {
    margin-bottom: 25px;
    margin-top: 25px;
}

.home-section-2 {
    margin-top: 25px;
    background: #C9D6FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content {
    margin-bottom: 25px;
}

.card-watchlater {
    margin-bottom: 25px;
}

.vert-align {
    margin-top: auto;
    margin-bottom: auto;
}


label.btn.btn-secondary.active > a:hover, label > a:hover {
    color: #c7c7c7;
}

i.premium-notifications:before {
    font-size: 90px !important;
}

.card-watchlater {
    margin-bottom: 25px;
}

.watchlater-blocks-settings .card-body {
    min-height: 170px;
}

.watchlater-blocks-settings a {
    bottom: 0;
    margin-bottom: 15px;
    position: absolute;
}

.watchlater-blocks-settings button {
    bottom: 0;
}

.suggestion-box, .suggestion-box:focus, .suggestion-box:active {
    -webkit-box-shadow: 3px 2px 22px -1px rgba(163, 163, 163, 1);
    -moz-box-shadow: 3px 2px 22px -1px rgba(163, 163, 163, 1);
    box-shadow: 3px 2px 22px -1px rgba(163, 163, 163, 1);
    background-color: #fff;
    padding: 15px;
}

i.fa, i.fas, i.far, i.fab {
    margin-right: 0px;
}

.settings-icons {
    height: 100px;
}

.spinner-grow-1-3s {
    animation: spinner-grow 1.3s linear infinite;
}

.app-dark {
    background: #2f2f2f;
}

.card-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.cicon {
    width: unset;
    margin-bottom: 3px;
}

.card {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border: 1px solid rgba(0, 0, 0, .125)
}

a.love {
    color: #ff00ff;
}

.btn {
    text-transform: uppercase;
    font-weight: 400;
    font-size: .8rem;
}
.btn :before {
    margin-left: 5px;
}
.btn :after {
    margin-right: 5px;
}

.btn>i, .btn>svg {
    margin-right: 5px;
}

.w-light {
    font-weight: 100;
}

.w-medium {
    font-weight: 400;
}

.w-thick {
    font-weight: 900;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .in {
    position: absolute;
    padding: 15px 0 0 5px;
    pointer-events: none;
}

svg.in {
    width: unset;
}

/* align glyph */
.left-addon .in  { left:  20px;}
.right-addon .in { right: 20px;}

/* add padding  */
.left-addon input  { padding-left:  70px; }
.right-addon input { padding-right: 70px; }

.search-bar, .search-bar:focus {
    background-color: #fff;
}

.t-upper {
    text-transform: uppercase;
}
.t-down {
    text-transform: lowercase;
}
.t-cap {
    text-transform: capitalize;
}

.fancybox-content {
    border-radius: 0.25rem !important;
}

.btn-face-log {
    width:600px;
}
.card {
    border:0px;
}
