@charset "UTF-8";

@font-face {
  font-family: "nxtepisode-icons";
  src:url("../fonts/nxtepisode-icons.eot");
  src:url("../fonts/nxtepisode-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/nxtepisode-icons.woff") format("woff"),
    url("../fonts/nxtepisode-icons.ttf") format("truetype"),
    url("../fonts/nxtepisode-icons.svg#nxtepisode-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "nxtepisode-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="nxt-"]:before,
[class*=" nxt-"]:before {
  font-family: "nxtepisode-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nxt-favorite-shows:before {
  content: "\61";
}
