    /*
    Flaticon icon font: Flaticon
    Creation date: 02/01/2019 23:26
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-calendar:before { content: "\f100"; }
.flaticon-error:before { content: "\f101"; }
.flaticon-cross-out:before { content: "\f102"; }
.flaticon-close:before { content: "\f103"; }
.flaticon-cancel:before { content: "\f104"; }
.flaticon-tick:before { content: "\f105"; }
.flaticon-checked:before { content: "\f106"; }
.flaticon-check-symbol:before { content: "\f107"; }
.flaticon-checked-1:before { content: "\f108"; }
.flaticon-numbered-list:before { content: "\f109"; }
.flaticon-event:before { content: "\f10a"; }
.flaticon-hourglass:before { content: "\f10b"; }
.flaticon-hourglass-1:before { content: "\f10c"; }
.flaticon-calendar-1:before { content: "\f10d"; }
.flaticon-calendar-2:before { content: "\f10e"; }
.flaticon-calendar-3:before { content: "\f10f"; }
.flaticon-calendar-4:before { content: "\f110"; }
.flaticon-calendar-5:before { content: "\f111"; }
.flaticon-calendar-6:before { content: "\f112"; }
.flaticon-calendar-7:before { content: "\f113"; }
.flaticon-calendar-8:before { content: "\f114"; }
.flaticon-calendar-9:before { content: "\f115"; }
.flaticon-bell:before { content: "\f116"; }
.flaticon-alarm-clock:before { content: "\f117"; }
.flaticon-calendar-10:before { content: "\f118"; }
.flaticon-information-circular-button-symbol:before { content: "\f119"; }
.flaticon-play:before { content: "\f11a"; }
.flaticon-stop-button:before { content: "\f11b"; }
.flaticon-stop-button-1:before { content: "\f11c"; }
.flaticon-cog:before { content: "\f11d"; }
.flaticon-calendar-11:before { content: "\f11e"; }
.flaticon-calendar-12:before { content: "\f11f"; }
.flaticon-notification:before { content: "\f120"; }
.flaticon-smartphone:before { content: "\f121"; }
    
    $font-Flaticon-calendar: "\f100";
    $font-Flaticon-error: "\f101";
    $font-Flaticon-cross-out: "\f102";
    $font-Flaticon-close: "\f103";
    $font-Flaticon-cancel: "\f104";
    $font-Flaticon-tick: "\f105";
    $font-Flaticon-checked: "\f106";
    $font-Flaticon-check-symbol: "\f107";
    $font-Flaticon-checked-1: "\f108";
    $font-Flaticon-numbered-list: "\f109";
    $font-Flaticon-event: "\f10a";
    $font-Flaticon-hourglass: "\f10b";
    $font-Flaticon-hourglass-1: "\f10c";
    $font-Flaticon-calendar-1: "\f10d";
    $font-Flaticon-calendar-2: "\f10e";
    $font-Flaticon-calendar-3: "\f10f";
    $font-Flaticon-calendar-4: "\f110";
    $font-Flaticon-calendar-5: "\f111";
    $font-Flaticon-calendar-6: "\f112";
    $font-Flaticon-calendar-7: "\f113";
    $font-Flaticon-calendar-8: "\f114";
    $font-Flaticon-calendar-9: "\f115";
    $font-Flaticon-bell: "\f116";
    $font-Flaticon-alarm-clock: "\f117";
    $font-Flaticon-calendar-10: "\f118";
    $font-Flaticon-information-circular-button-symbol: "\f119";
    $font-Flaticon-play: "\f11a";
    $font-Flaticon-stop-button: "\f11b";
    $font-Flaticon-stop-button-1: "\f11c";
    $font-Flaticon-cog: "\f11d";
    $font-Flaticon-calendar-11: "\f11e";
    $font-Flaticon-calendar-12: "\f11f";
    $font-Flaticon-notification: "\f120";
    $font-Flaticon-smartphone: "\f121";